body{
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.contentContainer{
    width: 550px;
    height: 350px;
    border: 15px #EDEDED solid;
    overflow: hidden;
    background-color: #F2F2F2;
    cursor: pointer;
}
.ball{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: yellowgreen;
    cursor: pointer;
    /*transition: transform 1s ease-in;*/
    /*bottom: 0;*/
    /*position: absolute;*/
}
